.hero {
    display: flex;
    align-items: center
}

.hero > div {
    box-sizing: border-box;
    padding: 24px;
}

.lottie img {
    width: 100%;
}

.lottie {
    /*flex-shrink: 1;*/
    align-self: stretch;
}

.message a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #4DDBB7;
    text-decoration: none;
    margin-left: 24px;
}

.message h1 {
    margin: 0;
}

.message h1 span {
    color: #4DDBB7;
}

.message div {
    padding: 24px 0;
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
    .hero {
    }

    .hero > div:last-child {
        flex-shrink: 100;
    }
}

@media screen and (max-width: 1024px) {
    .hero {
        align-items: stretch;
        flex-direction: column-reverse;
    }

    .hero .lottie {
        flex-shrink: 100;
        height: 100%;
        align-self: center;
    }

    .message {
        text-align: center;
    }

    .message h1 {

    }
}

