@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Titillium+Web:wght@400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: #191B1E;
    padding: 0;
    margin: 0 auto;
    max-width: 1280px;
    color: #f5f7fa;
    padding-bottom: 240px;
}

.App > div {
    margin-bottom: 72px;
}

.green_line {
    width: 72px;
    height: 4px;
    border-radius: 2px;
    background: #4DDBB7;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    opacity: 0.87;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    opacity: 0.87;
    margin: 0;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 32px;
    opacity: 0.6;
}

a {
    opacity: 0.6;
}

a > img, a:hover {
    opacity: 1;
}

a > img, a:hover {
    opacity: 1;
}

button {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    color: #1E2936;
    background: #4DDBB7;
    border: none;
    padding: 0 12px;
    border-radius: 4px;
    cursor: pointer;
}

.button-l {
    font-size: 18px;
    line-height: 24px;
    padding: 12px 20px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
    .App > div {
        margin-bottom: 12px;
    }

    h1 {
        font-size: 32px;
        line-height: 40px;
    }

    p {
        font-size: 16px;
        line-height: 28px;
    }
}
